
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Roboto&family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mada&family=Nunito&family=Roboto&family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Roboto&family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
/* for nav-bar */
.nav-bar{
padding-top: 2rem;
padding-right: 2.5rem;
position: sticky;
top: 0px;
height: 100px;
background-color: #FFF;
}
.nav-left{
padding-left: 4rem;
align-items: center;
}
.nav-left>p{
    padding-left: .5rem;
    color: #FF5151;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    padding-top: 25px;
}
.nav-middle{

}
.nav-middle>a{
    padding-right: 40px;
    padding-top: 1rem;
    text-decoration: none;
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
}
.home{
    color: #FF5151 !important; 
    font-family: Rubik;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
}
.nav-right{
/* padding-right: 4rem; */
padding: auto;


}
.nav-right>svg{
    /* padding-right: 40px; */
}


/* hero-section */
.hero-section{
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    /* padding-inline-start: 50px; */

     width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}
.Limited-Time-Only-For-Winter{
color: #000;
font-family: Mada;
font-size: 18px;
font-weight: 400;

}

.LOOK-YOUR-BEST-ON-YOUR-BEST-DAY{
color: #000;
font-family: Mada;
font-size: 24px;
font-weight: 400;
padding-bottom: 50px;
}
.btn{
width: 210px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
}
.btn>p{
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-weight: 900;
line-height: 25px; /* 156.25% */
padding-top: 10px;
}

/* collection */
.collection{
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    row-gap: 0px;
}
.collection>svg{
    padding-top:0px;
}

.Collection-hoodie{
width: 160px;
height: 121.52px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.our-top-collection{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 104.167% */
display: flex;
justify-content: center;
align-items: center;
}
.collection-button{
}
.button{
    width: 130px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
color: #4F5665;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 156.25% */
}

.Accessories-button{
    width: 130px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 156.25% */
box-shadow: 0px 8px 10px 0px;
}

/* 3-cards */

.cards{
    justify-content: space-evenly;
}

.card{
width: 380px;
height: 429.162px;
flex-shrink: 0;
border-radius: 25px;
background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
overflow: hidden;
}
.card>div>img{
width: 214px;
height: 219px;
}

.card-description{
    width: 380px;
height: 120px;
flex-shrink: 0;
border-radius: 0px 0px 25px 25px;
background: #FFF;
box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.02);
overflow: hidden;
}
.price-rating>button{
    border-radius: 10px;
    background: #FF5E3A;
    width: 80px;
    height: 29px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* new arrival */
.new-arrival-1st-red-card{

background-image: url(Assects/Poster\ 1\ \(1\).png);
width: 571px;
height: 259px;

}
.new-arrival-2nd-red-card{
    background-image: url(Assects/Poster\ 1\ \(1\).png);
    width: 571px;
    height: 259px;
    flex-shrink: 0;
    }
.new-arrival-yellow-card{
    background-image: url(Assects/Poster\ 3.png);
    width: 619px;
height: 568px;
flex-shrink: 0;
}

.new-arrival>div>div>p{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
padding-top: 30%;
padding-left: 10%;
}

.new-arrival>div>p{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
padding-top: 70%;
padding-left: 10%;
}

.new-arrival>div>div>img{
    padding-top: 10%;
    padding-left: 10%;
}

/* latest collection card */

.latest-collection-card{
    width: 285px;
height: 314px;
flex-shrink: 0;
border-radius: 25px;
border: 0.5px solid rgba(144, 144, 144, 0.25);
background: #F0F0F0;
}

.latest-collection-card-description{
    width: 285px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: #FFF;
}
.latest-collection-card-description>p{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.latest-collection-card-description>div>p{
    color: #909090;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 5px;
}
.special-cards{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.latest-collection-card-special{
    width: 285px;
    height: 314px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);

}
.latest-collection-card-description>div>button{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 86px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF5E3A;
}



/* footer */
.brandName{
    color: #FF5E3A;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#bttext2{
    color: #FF5E3A;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.table-1 {
    padding: 0.3rem;
    font-size: 1.5rem;
}

.table-1>thead {
    font-weight: 700;
}

.table-1>tbody {
    color: #4F5665;
    font-family: Rubik;
    font-size: 1rem;
    line-height: 1.875rem;
    /* 187.5% */
}
.my-footer {
    justify-content: space-around;
    padding-top: 2rem;
}

.cell {
    gap: 0.3rem;
    align-items: center;
}

.conlogo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff5e3a;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-right: 0.5px;
}

.conlogo>img {
    width: 20px;
    height: 20px;
}
.mycol-right{
    width: 60%;
    justify-content: space-between;
}
.footer{
    background: rgba(252, 203, 144, 0.15);
}
.mycol2{
    display: flex;
    flex-direction: row;
}

/* media quarries */
@media screen and (max-width: 768px) {
    .card {
        width: 14rem !important;
    }

    .latest-collection-card {
        width: 12rem !important;
    }
    .latest-collection-card-special{
        width: 12rem !important;
    }

    .table-1 {
        padding: 0.1rem;
        font-size: 1rem;
    }

    .table-1>tbody {
        color: #4F5665;
        font-family: Rubik;
        font-size: 0.7rem;
        line-height: 1.875rem;
        /* 187.5% */
    }
    .collapse{
        margin-left: 0;
    }

}
@media screen and (max-width: 670px){
    .my-footer{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .mycol-right{
        width: 80%;
    }
    .card{
        width: 10rem !important;
    }
    .card-description>p{
        /* font-size: 10px; */
    }
    .price-rating>svg{
        width: 50%;
    }
    .latest-collection-card-description>div>p{
        font-size: 10px;
    }
}
@media screen and (max-width: 425px){
    .card{
        width: 08rem !important;
    }
    .card-description>p{
        font-size: 10px;
    }
    #favicon{
        width: 25px;
        height: 25px;
    }
    .button{
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
    .Accessories-button{
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
    .mycol-right{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hero-section>div>p{
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .latest-collection-card {
        width: 10rem !important;
    }
    button{
        height: 20px;
        width: 40px;
        
    }
    .rs-text{
        font-size: 6px;
    }
    .card{
        flex-wrap: wrap;
    }
    .btn2{
        width: 140px;
        height: 50px;
    }
    #show{
        display: none !important;
    }
    #none{
        display: block !important;
    }
    
}